@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*reset de css*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

header {
  width: 100%; }

.smallLogo {
  display: none; }

.navMobile {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  background: #ffa012; }

.menu_bar {
  display: none; }

.menu_ul {
  overflow: hidden;
  list-style: none; }

.menu_button-a {
  display: block;
  margin: 0.5rem; }

section {
  padding: 20px; }

@media screen and (min-width: 100px) and (max-width: 320px) {
  .smallLogo {
    display: inline;
    height: 60px;
    width: 60px;
    border-radius: 120px;
    position: relative;
    left: 20px; }
  .bigLogo {
    display: none; }
  .navMobile {
    width: 23%;
    height: 45%;
    right: -100%;
    margin: 0;
    position: fixed; }
  .menu_ul {
    border: 2px black; }
  .menu_button {
    display: block;
    float: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: none;
    margin-bottom: 20px; }
  .menu_bar {
    display: block;
    width: 100%;
    background: #ccc; }
  .menu_bar .bt-menu {
    display: block;
    padding: 10px;
    background: #ffa012;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    box-sizing: border-box;
    font-weight: bold; }
  .menu_bar span {
    float: right;
    font-size: 40px;
    position: relative;
    bottom: -6px;
    right: -5px; }
  .btn-whatsapp {
    display: block;
    width: 4.375rem;
    height: 4.375rem;
    position: fixed;
    left: 1.25rem;
    bottom: 1.25rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    z-index: 999; }
  .container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 8rem 8rem;
    margin: auto; }
  .alineacionCentral {
    justify-content: center;
    align-items: center; }
  .oferta {
    margin: auto;
    margin-top: 0.625rem;
    height: 60%;
    width: 60%;
    border-radius: 0.625rem; }
  section.form {
    width: 100%;
    height: 100%;
    background: #37170C;
    padding: 1.875rem;
    margin: auto;
    margin-top: 1.563px;
    margin-bottom: 100px;
    border-radius: 15px;
    font-family: "Roboto", sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #37170C; }
  h1 {
    display: none; }
  h2 {
    display: none; }
  .inputEmail {
    display: none; } }

@media screen and (min-width: 321px) and (max-width: 376px) {
  .smallLogo {
    display: inline;
    height: 60px;
    width: 60px;
    border-radius: 120px;
    position: relative;
    left: 20px; }
  .bigLogo {
    display: none; }
  .navMobile {
    width: 30%;
    height: 71%;
    right: -100%;
    margin: 0;
    position: fixed; }
  .menu_button {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-style: none;
    background: none; }
  .menu_button-a {
    color: #fff;
    text-decoration: none;
    display: inline; }
  .menu_bar {
    display: block;
    width: 100%;
    background: #ccc; }
  .menu_bar .bt-menu {
    display: block;
    padding: 10px;
    background: #ffa012;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    box-sizing: border-box;
    font-weight: bold; }
  .menu_bar span {
    float: right;
    font-size: 40px;
    position: relative;
    bottom: -6px;
    right: -5px; }
  .btn-whatsapp {
    display: block;
    width: 4.375rem;
    height: 4.375rem;
    position: fixed;
    left: 1.25rem;
    bottom: 1.25rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    z-index: 999; }
  .container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 8rem 8rem;
    margin: auto; }
  .alineacionCentral {
    justify-content: center;
    align-items: center; }
  .oferta {
    margin: auto;
    margin-top: 0.625rem;
    height: 60%;
    width: 60%;
    border-radius: 0.625rem; }
  section.form {
    width: 100%;
    height: 100%;
    background: #37170C;
    padding: 1.875rem;
    margin: auto;
    margin-top: 1.563px;
    margin-bottom: 100px;
    border-radius: 15px;
    font-family: "Roboto", sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #37170C; }
  h1 {
    display: none; }
  h2 {
    display: none; }
  .inputEmail {
    display: none; } }

@media screen and (min-width: 377px) and (max-width: 767px) {
  .smallLogo {
    display: inline;
    height: 60px;
    width: 60px;
    border-radius: 120px;
    position: relative;
    left: 20px; }
  .bigLogo {
    display: none; }
  .navMobile {
    width: 30%;
    height: 100%;
    right: -100%;
    margin: 0;
    position: fixed; }
  .menu_button-a {
    color: #fff;
    padding: 20px;
    text-decoration: none;
    display: inline; }
  .menu_button {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-style: none;
    background: none; }
  .menu_bar {
    display: block;
    width: 100%;
    background: #ccc; }
  .menu_bar .bt-menu {
    display: block;
    padding: 10px;
    background: #ffa012;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    box-sizing: border-box;
    font-weight: bold; }
  .menu_bar span {
    float: right;
    font-size: 40px;
    position: relative;
    bottom: -6px;
    right: -5px; }
  .btn-whatsapp {
    display: block;
    width: 4.375rem;
    height: 4.375rem;
    position: fixed;
    left: 1.25rem;
    bottom: 1.25rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    z-index: 999; }
  .container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 7.5rem 7.5rem 7.5rem;
    margin: auto; }
  .alineacionCentral {
    justify-content: center;
    align-items: center; }
  .oferta {
    margin: auto;
    margin-top: 0.625rem;
    height: 60%;
    width: 60%;
    border-radius: 0.625rem; }
  section.form {
    width: 100%;
    height: 100%;
    background: #37170C;
    padding: 1.875rem;
    margin: auto;
    margin-top: 1.563px;
    margin-bottom: 100px;
    border-radius: 15px;
    font-family: "Roboto", sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #37170C; }
  h1 {
    display: none; }
  h2 {
    display: none; }
  .inputEmail {
    display: none; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .smallLogo {
    display: inline;
    height: 60px;
    width: 60px;
    border-radius: 120px;
    position: relative;
    left: 20px; }
  .bigLogo {
    display: none; }
  .navMobile {
    width: 30%;
    height: 100%;
    right: -100%;
    margin: 0;
    position: fixed; }
  .menu_button-a {
    color: #fff;
    padding: 20px;
    text-decoration: none;
    display: inline; }
  .menu_button {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-style: none;
    background: none; }
  .menu_bar {
    display: block;
    width: 100%;
    background: #ccc; }
  .menu_bar .bt-menu {
    display: block;
    padding: 10px;
    background: #ffa012;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    box-sizing: border-box;
    font-weight: bold; }
  .menu_bar span {
    float: right;
    font-size: 40px;
    position: relative;
    bottom: -6px;
    right: -5px; }
  .btn-whatsapp {
    display: block;
    width: 4.375rem;
    height: 4.375rem;
    position: fixed;
    left: 1.25rem;
    bottom: 1.25rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    z-index: 999; }
  .container {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 12rem 12rem 12rem;
    margin: auto; }
  .alineacionCentral {
    justify-content: center;
    align-items: center; }
  .oferta {
    margin: auto;
    margin-top: 0.625rem;
    height: 60%;
    width: 60%;
    border-radius: 0.625rem; }
  section.form {
    width: 100%;
    height: 100%;
    background: #37170C;
    padding: 1.875rem;
    margin: auto;
    margin-top: 1.563px;
    margin-bottom: 100px;
    border-radius: 15px;
    font-family: "Roboto", sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #37170C; }
  h1 {
    display: none; }
  h2 {
    display: none; }
  .inputEmail {
    display: none; } }

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .menu_button {
    background: #37170C;
    margin: 1rem; }
  .menu_button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
  .smallLogo {
    display: none; }
  .bigLogo {
    display: inline;
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 7.5rem;
    position: relative;
    left: 1.25rem;
    margin-right: 2.5rem; }
  .btn-whatsapp {
    display: block;
    width: 4.375rem;
    height: 4.375rem;
    position: fixed;
    right: 1.25rem;
    bottom: 1.25rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    z-index: 999; }
  .container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 12.5rem 12.5rem 12.5rem;
    padding: 0.938rem 0.938rem; }
  .alineacionCentral {
    justify-content: center;
    align-items: center; }
  .oferta {
    margin: auto;
    margin-top: 0.625rem;
    height: 60%;
    width: 60%;
    border-radius: 0.625rem; }
  h1 {
    font-size: 2.5rem;
    letter-spacing: 1rem; } }

@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .menu_button {
    background: #37170C;
    margin: 1rem; }
  .menu_button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
  .smallLogo {
    display: none; }
  .bigLogo {
    display: inline;
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 7.5rem;
    position: relative;
    left: 1.25rem;
    margin-right: 2.5rem; }
  .btn-whatsapp {
    display: block;
    width: 4.375rem;
    height: 4.375rem;
    position: fixed;
    right: 1.25rem;
    bottom: 1.25rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    z-index: 999; }
  .container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 12.5rem 12.5rem 12.5rem;
    padding: 0.938rem 0.938rem; }
  .alineacionCentral {
    justify-content: center;
    align-items: center; }
  .oferta {
    margin: auto;
    margin-top: 0.625rem;
    height: 60%;
    width: 60%;
    border-radius: 0.625rem; }
  h1 {
    font-size: 2.5rem;
    letter-spacing: 1rem; } }

@media screen and (min-width: 1920px) {
  .menu_button {
    background: #37170C;
    margin: 1rem; }
  .menu_button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
  .smallLogo {
    display: none; }
  .bigLogo {
    display: inline;
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 7.5rem;
    position: relative;
    left: 1.25rem;
    margin-right: 2.5rem; }
  .btn-whatsapp {
    display: block;
    width: 4.375rem;
    height: 4.375rem;
    position: fixed;
    right: 1.25rem;
    bottom: 1.25rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    z-index: 999; }
  .container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 12.5rem 12.5rem 12.5rem;
    padding: 0.938rem 0.938rem; }
  .alineacionCentral {
    justify-content: center;
    align-items: center; }
  .oferta {
    margin: auto;
    margin-top: 0.625rem;
    height: 60%;
    width: 60%;
    border-radius: 0.625rem; }
  h1 {
    font-size: 2.5rem;
    letter-spacing: 1rem; } }

li {
  list-style: none; }

.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto; }

.boton {
  border: none;
  min-width: 90px;
  height: 20px;
  padding: 0 30px;
  background: #000;
  color: #fff;
  display: inline-block;
  border-radius: 100px;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background: #ffa012;
  transition: .3s ease all; }

.boton__texto {
  font-weight: 600; }

.boton:hover {
  text-decoration: none;
  background-color: #37170C; }

.boton--absolute {
  position: absolute;
  right: 20px;
  bottom: 44vw;
  z-index: 1; }

.boton--verde {
  background: #51ED37; }

.boton--verde:hover {
  background: #106707; }

body {
  color: white;
  background-color: #37170C;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  background-image: url();
  /*poner fondo del toro*/
  size: 100%; }
  body header nav {
    background-color: #ffa012; }

.containerH1 {
  border: 20px #ffa012;
  padding: 12px;
  margin: 20px; }

h1 {
  font-family: "Roboto", sans-serif;
  margin: 20px;
  padding: 12px;
  background-color: #ffa012;
  border-color: solid white;
  border-size: 40px;
  border-radius: 20px;
  box-shadow: 6PX 6PX 12PX #fF9900; }

h2 {
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  list-style: none; }

.margin {
  margin: 40px; }

/*productos destacados con grid*/
.productosDestacados {
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
  height: 250px; }

section {
  margin-bottom: 10px;
  margin-top: 5px; }

.hover {
  transition: all 2s; }

.hover:hover {
  font-size: 12px; }

.hr {
  background-color: #37170C;
  color: white;
  size: 20; }

a:link, a:visited, a:active {
  text-decoration: none;
  color: white; }

.form {
  width: 600px;
  height: 800px;
  background: #ffa012;
  padding: 30px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 100px;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  color: white;
  box-shadow: 7px 13px 37px #ffa012; }

.form__title {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  margin-bottom: 20px; }

.form__controls {
  width: 50%;
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 20px; }

.form__botons {
  width: 100%;
  border: none;
  padding: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #37170C;
  color: white;
  font-size: 22px; }

.form__texto {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center; }

.yellow {
  background-color: #ffa012; }

.flex {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.Tarjetas {
  width: 60px;
  height: 60px; }

.item_img {
  width: 100%;
  border-radius: 12px 12px 0px 0px; }

h3 {
  font-size: 16px; }

.marginBottom {
  margin-bottom: 0.8rem; }

.item {
  background-color: #ffa012;
  border-radius: 12px; }

.sinSombra {
  box-shadow: none; }

footer {
  margin-top: 30px; }

.comprarButton {
  font: "Roboto", sans-serif;
  color: white;
  background-color: #37170C;
  padding: 6px;
  width: 80px;
  height: 30px; }

.comprarButton:hover {
  box-shadow: 7px 13px 57px #37170C;
  cursor: pointer; }

.pointer:hover {
  cursor: pointer; }

h1, h2, h3:hover {
  cursor: default; }

.sliderMargin {
  margin-bottom: 40px; }

.zoom, .btn-yellow, h1, h2, p, li, .Tarjetas, .logoFoot {
  /* Aumentamos la anchura y altura durante 2 segundos */
  transition: width 1s, height 1s, transform 1s; }

.btn-yellow:hover, .zoom:hover, h1:hover, h2:hover, p:hover, li:hover, .Tarjetas:hover, .logoFoot:hover {
  /* tranformamos el elemento al pasar el mouse por encima al doble de
           su tamaño con scale(2). */
  transform: scale(1.05); }

.logoFoot {
  height: 6.25rem;
  width: 6.25rem;
  border: 0.313rem;
  margin-bottom: 0.313rem;
  margin-top: 0.313rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.26rem; }
