* { margin: 0;
padding: 0;}

 


/* header mediaquerries y sass==========================================*/

.navbar {

background-color: #ddaa10;

}

.navbar-dark .navbar-nav .nav-link{

color: black;

}


.navbar-dark .navbar-nav .nav-link:hover{

   color: white;
   
   }

.dropdown-menu {
   background-color: #ddaa10;
}

.carousel-caption p{

   color:#ddaa10;
   font-size: 2rem;
   font-family: 'roboto';
   text-transform: uppercase;
      line-height: 1.6;
      letter-spacing: 2px;
      font-style: italic;
           font-weight: bold;

}

.carousel-caption i {

color: black;
padding: 10px;

}

.carousel-caption p em {
   color:#3E482F;
   font-family: helvetica; 
   text-decoration-line: none;
   font-style: normal;
   font-weight:normal;
   font-size: 0.925rem;
   text-align: center;
   text-transform: uppercase;
   line-height: 1.6;
   letter-spacing: 2px;
   padding: 10 px;}


/* footer mediaquerries y sass==========================================*/

.footerfooter {

   background-color: #3E482F;
}

.redeslist-inline li a{

display: flex;
color: white;
font-size: 3rem;
 flex-direction: row; 
 padding: 1rem;
 list-style: none;
 text-decoration: none;
}
 
.redeslist-inline {
 
   display: flex;  flex-direction: row; 
   justify-content: center;
   padding: 1rem;
}

.redeslist-inline li a:hover {

   color:#ddaa10
}


.menulist-unstyled li a{

   display: flex;
   color: white;
   font-size: 1rem;
    flex-direction: row; 
    padding: 0.5rem;
    list-style: none;
    text-decoration: none;
    justify-content: center;

   } 

   .menulist-unstyled   {
      list-style: none;
   }

.menulist-unstyled li a:hover

{color: #ddaa10;}
 


   .menulist1-unstyled li {

      display: flex;
      color: white;
      font-size: 1rem;
       flex-direction: row; 
       padding: 0rem 0rem 3rem 0rem ;
       list-style: none;
       text-decoration: none;
       justify-content: center;
       font-style: normal;
      font-weight: bold;
      font-size: 0.938rem;
      text-align: right;
      text-transform: uppercase;
      line-height: 1.6;
      letter-spacing: 2px;
      } 
   
      .menulist1-unstyled   {
         list-style: none;
      }

/*MAIN INDEX*/

.divcombos a {

   display: flex;
   text-decoration: none;
   color:black;
   font-family: 'Roboto', sans-serif;  
   font-style: normal;
   font-weight:bolder;
   font-size: 0.938rem;
   padding: 3rem;
   justify-content: center;
}

.divdestacados a {

   display: flex;
   text-decoration: none;
   color:black;
   font-family: 'Roboto', sans-serif;  
   font-style: normal;
   font-weight:bolder;
   font-size: 0.938rem;
   padding: 3rem;
   justify-content: center;
}





 






 